/* DEBUG */
.box{
    background-color: yellow;
    border: 1px solid black;
    /* min-height: 100px; */
}



/* regole generali */
body{
    font-family: "Roboto", sans-serif;
}


/* BARRA IN ALTO */
#header{
    height: 80px;
    display: flex;
    align-items: center;
}

#logo, #logo a{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

#logo img{
    max-height: 100%;
}


.extended-logo{
    display: none;
}

/* icona di offcavas */
.fa-bell{
    color: orange;
    margin-right: 12px;
}

.ms_right_icons{
    color: gray;
    display: none;
    margin: 10px;
}

/************  RESPONSIVE - barra in alto **************/
@media all and (min-width:992px) {
    .extended-logo{
        display: block;
    }

    .icon-logo{
        display: none;
    }


    /* PUOI FARLE CON BS */
    .ms_right_icons{
        display: inline;
    }
    
}
/*******************************************************/


/* CORPO CENTRALE */
/* messo margin top per abbassare il contenuto */
.ms_margin{
    margin-top:80px;
}

/* specifica dell'altezza delle due colonne*/
.ms_box{
    height: calc(100vh - 80px);
}

.ms_bg_img{
    background-image: url("../img/sidebar-bg.png");
    background-color: rgb(11 28 52);
}

/* MENU DI SINISTRA */


.ms_colo_text{
    color: white;
}


/************  RESPONSIVE - barra in alto **************/
@media all and (min-width:992px) {
    .ms_colo_text span{
        display: inline;
    } 
    
    .fa-house{
        padding-right: 12px;
    }
    
    .fa-chart-simple{
        padding-right: 16px;
    }
    
    .fa-signal{
        padding-right: 10px;
    }
    
    .fa-gear{
        padding-right: 14px;
    }
}
/*******************************************************/


.ms_bg_blu{
    background-color: rgb(62 102 231);
}

.ms_flex{
    display: flex;
    align-items: center;
    color: white;
    padding: 20px 0 20px 10px;
}

.ms_flex .fa-square-plus{
    font-size: 24px;
    padding-left: 20px;
}

.ms_bg_gray{
    background-color: gray;
}

.accordion-item:first-of-type{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}