/* DEBUG */
.box{
    background-color: yellow;
    border: 1px solid black;
    min-height: 100px;
}



/* regole generali */
body{
    font-family: "Roboto", sans-serif;
}

.ms_margin{
    margin-top:100px;
}

.ms_box{
    height: calc(100vh - 100px);
}

.ms_bg_blu{
    background-color: blue;
}

.ms_bg_gray{
    background-color: gray;
}

.accordion-item:first-of-type{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}